{% extends 'base.html' %}
{% block content %}
    <!-- Main Start -->
    <main>
		<!-- Services -->
		<section class="container my-4">
			<h1 class="text-center mb-4 section-heading border-bottom pb-2">Contact Us</h1>
			<div class="row">
				<div class="col-md-6">
					<table class="table table-bordered">
						<tr>
							<th>Address</th>
							<td>Chepkoilel, Eldoret</td>
						</tr>
						<tr>
							<th>Mobile</th>
							<td>+254 723456799</td>
						</tr>
						<tr>
							<th>Telephone</th>
							<td>077894562</td>
						</tr>
						<tr>
							<th>Email</th>
							<td>sweatshop@gmail.com</td>
						</tr>
					</table>
				</div>
				<div class="col-md-6">
					<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d7979.249069253216!2d35.311952799999986!3d0.5647076999999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2ske!4v1745866905655!5m2!1sen!2ske" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
				</div>
			</div>
		</section>
		<!-- End -->
    </main>
    <!-- End -->
{% endblock %}